/*
MENU
TIMELINE
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIMELINE */
.timeline {
  width: 1100px;
  min-height: 500px;
  margin: 50px auto;
  border-left: 6px solid rgb(201, 42, 50);
}
