/*
MENU
TIMELINE
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIMELINE */
.timeLine {
  width: 10px;
  height: 1500px;
  margin: 50px 100px;
  background-color: rgb(201, 42, 50);
}
#first {
  position: relative;
  top: -1px;
}
#text {
  display: none;
}
#second {
  position: relative;
  top: 75px;
}
#third {
  position: relative;
  top: 200px;
}
.timeLinePiont {
  left: -8px;
  height: 26px;
  width: 26px;
  background-color: rgb(201, 42, 50);
  border: 3px solid white;
  border-radius: 50%;
}
.timeLinePiont:hover {
  background-color: rgb(234, 131, 136);
}
